*.cpython-35.pyc
.idea/
TutorialProject/__pycache__/
SignIn/__pycache__/
SignIn/tests/__pycache__/
SignIn/migrations/
News/__pycache__/
News/tests/__pycache__/
News/migrations/
Media/__pycache__/
Media/migrations/
HomePage/__pycache__/
HomePage/migrations/
