{% extends "SignIn/auth_template.html" %}

{% block title %}
Registration
{% endblock %}

{% block form %}
<form action="" method="post">
    {{ form.non_field_errors }}
     {% csrf_token %}
    <div class="form-group">
        <label>Username</label>
        {{ form.username }}
    </div>
    <div class="form-group">
        <label>Password</label>
        {{ form.password1 }}
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        {{ form.password2 }}
    </div>
    <button class="btn btn-info navbar-btn" name="registr" type="submit">Sign up</button>
</form>
{% endblock %}
