{% extends "HomePage/wrapper.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h3 class="test-info" align="center">{{article.Title}}</h3>
        <h5 class="test-info">Published: {{article.Date|date:"y-m-d h:m:s"}} by {{article.Author}}</h5>
        {{article.Content|safe|linebreaks}}
        {% if user.is_authenticated %}
          <h5 align="right">
              <a href="{% url 'post_comment' pk=article.pk %}">
                  <span class="glyphicon glyphicon-comment"></span>
              </a>
              {% if user == article.Author or user.is_superuser %}
              <a href="{% url 'edit_post' pk=article.pk %}">
                  <span class="glyphicon glyphicon-edit"></span>
              </a>
              <a href="{% url 'delete_post' pk=article.pk %}">
                  <span class="glyphicon glyphicon-remove"></span>
              </a>
              {% endif %}
          </h5>
        {% endif %}
    </div>

    <div class="container">
        <h3 class="test-info" align="center">Comment section</h3>
        {% if user.is_authenticated %}
          {% if comments %}
            {% for comment in comments %}
            <div class="jumbotron">
              {{comment.Content|safe|linebreaks}}
              <h6 class="test-info" align="right">Published:{{comment.Date|date:"y-m-d h:m:s"}} by {{comment.Author}}</h6>

                {% if user == comment.Author or user.is_superuser %}
                <h5 align="right">
                  <a href="{% url 'edit_comment' pk=comment.pk %}">
                      <span class="glyphicon glyphicon-edit"></span>
                  </a>
                  <a href="{% url 'delete_comment' pk=comment.pk %}">
                      <span class="glyphicon glyphicon-remove"></span>
                  </a>
                </h5>
              {% endif %}
            </div>
            {% endfor %}
          {% else %}
            <h4 align="center" class="test-info">There is no comments for this article yet...</h4>
          {% endif %}
        {% else %}
            <h4 align="center" class="test-info">This section is visible only for users</h4>
        {% endif %}
    </div>
</div>

{% endblock %}