<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>
      {% block title %}
      {% endblock %}
    </title>

</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href={% if user.is_superuser %}"/admin/" {% elif user.is_authenticated %} {% url 'Profile' %} {% endif %}>My Site</a>
    </div>
    <ul class="nav navbar-nav">
      <li {% if 'home' in request.path %}class="active"{% endif %}><a href="/home/">Home</a></li>
      <li {% if 'news' in request.path %}class="active"{% endif %}><a href="/news/">News</a></li>
      <li {% if 'media' in request.path %}class="active"{% endif %}><a href="/media/">Media</a></li>
      <li {% if 'about' in request.path %}class="active"{% endif %}><a href="/about/">About us</a></li>
    </ul>
    <div class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <form action="/auth/logout/">
          <button class="btn btn-primary navbar-btn">Log out</button>
        </form>
      {% else %}
        <form action="/auth/login/">
          <button class="btn btn-primary navbar-btn">Sign In</button>
        </form>
      {% endif%}
    </div>
  </div>
</nav>
  {% block content %}
  {% endblock %}
</body>
</html>